.footer
  color: #fff
  background-color: #000
  @media (max-width: 991.5px)
    padding-bottom: 120px

.footer__content
  display: flex
  justify-content: space-between

.footer__phone
  @media (max-width: 991.5px)
    display: none
