.gym-wr
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 200px 200px 200px
  grid-template-areas: 'gym-1 gym-2 gym-3 gym-4' 'gym-1 gym-5 gym-5 gym-6' 'gym-7 gym-8 gym-9 gym-9'
  width: 100%
  min-height: 200px
  grid-gap: 20px


.gym
  border-radius: 20px
  background-color: #f1f6f9
  color: #1E1E1E
  padding: 20px

.gym-black
  background-color: #2B2831
  color: #fff

.gym__title
  font-size: 24px
  font-weight: 600
  text-align: center
  cursor: default
  user-select: none


