@font-face
  font-family: 'laser84'
  src: url(fonts/laser84.ttf)
  font-display: swap

\:root
  --title-font: 'laser84', sans-serif
  --text-font: 'Montserrat', sans-serif

\::selection
  background: #ff5400
  color: #fff
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-family: var(--text-font)

a
  text-decoration-line: none
  text-decoration-color: #fff
  color: #fff

.pb30
  padding-bottom: 30px

.p60
  padding-bottom: 60px
  padding-top: 60px
  @media (max-width: 991.5px)
    padding-bottom: 20px
    padding-top: 20px

.height90
  min-height: 90vh


